/public/hot
/public/storage
public/css/app.css
public/js/manifest.js
public/js/vendor.js
public/js/app.js.js

/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
